.python-version
uv.lock
.venv/
.ruff_cache/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store

# LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.dvi
*.nav
*.snm
*.vrb
*.fdb_latexmk
    